body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url(blackjack\ table.jpg);
  object-fit: contain;
  background-size: cover;
  position: center;
  text-align: center;
  color: white;
  font-weight: bold;
}

.header {
  position: relative;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

.player-ui {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  position: relative;
  left: 50%;
  transform: translate(-50%);
  width: 350px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.r-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2px;
  border: 3px solid goldenrod;
  padding: 10px;
  border-radius: 4px;
}

#done-button {
  margin-top: 10px;
}

#clear-button {
  margin-top: 10px;
}

.grid-button {
  width: 300px;
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  justify-content: center;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

.button {
  color: black;
  width: 150px;
  height: 30;
  border-radius: 5px;
  background: #daa520;
  font-weight: bold;
  border: none;
  outline: none;
  overflow: none;
  margin-bottom: 2px;
  margin-top: 2px;
  cursor: pointer;
}

button:hover {
  background: #c2921b;
}

button:active {
  background: #9e7a20;
}

.bet-button {
  color: black;
  width: 60px;
  height: 30;
  border-radius: 5px;
  background: goldenrod;
  border: 1px solid black;
  font-weight: bold;
  cursor: pointer;
}

.dealer {
  width: 400px;
  height: 140px;
  padding: 40px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  border: solid black;
}

#dealer-el {
  color: black;
  position: static;
  background-color: goldenrod;
  font-size: 20;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
