body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  background-image: url(blackjack\ table.jpg);
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  background-size: cover;
  position: center;
  text-align: center;
  color: white;
  font-weight: bold;
}

h1 {
  color: goldenrod;
}

#message-el {
  font-style: italic;
}

.player {
  position: center;
  padding-top: 120px;
  padding-bottom: 30px;
}

.grid-button {
  display: grid;
  position: absolute;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
  left: 50%;
  padding-top: 30px;
  transform: translateY(-60%);
  transform: translate(-50%);
  align-items: center;
  justify-content: center;
}
.button {
  color: #016f32;
  width: 150px;
  height: 30;
  border-radius: 5px;
  background: goldenrod;
  font-weight: bold;
  border: none;
  margin-bottom: 2px;
  margin-top: 2px;
}

.dealer {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  width: 400px;
  padding: 40px;
  border: solid black;
}

#dealer-el {
  color: black;
  position: static;
  background-color: goldenrod;
  font-size: 20;
  padding: 10px;
  padding-left: 30px;
  padding-right: 30px;
}
